{{!-- User Dashboard Interface to see own post --}}
<div class="row">
  <div class="col-auto">
    <h2>Your Dashboard</h2>
  </div>
</div>

  {{#if posts.length}}
  <div class="col-md-12 post-list">
    {{#each posts as |post|}}
    <div class="card row mb-2 project">
      <div class="col-12" style="border: 3px solid grey;">       
          <ul style="font-size:larger"><li><a href="/editpost/{{post.id}}">{{post.title}}</a> <span style="position: absolute;  right: 10px;  ">Posted on {{format_date post.date_created}}</span></li> </ul>         
        </div>        
      </div>  
    </div>
    {{/each}}
  {{/if}}
</div>

<div class="" style="align-items: center;">
      <div class="form-group" style=" position:absolute; bottom:20px; left:40%; ">
        <button onclick= window.location.href='/newpost'; class="btn btn-primary">Add New Post</button>
      </div>
  </div>
